footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: #1f1b19;
  padding: 1.25rem; }
  footer ul {
    display: flex; }
  footer li {
    list-style-type: none;
    margin: 0 0.625rem; }
  footer a {
    text-decoration: none; }
  footer img {
    width: 4.125rem;
    border-radius: 3.125rem; }
  footer h2 {
    font-size: 20px; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #1f1b19;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.35rem; }
  body .backgraundcolor {
    background-color: #1f1b19; }
  body .navbar-brand img {
    padding-left: 100px; }
  body .titulo__general {
    display: flex;
    justify-content: center;
    margin: 1.25rem 0; }
  body .carousel__contain {
    height: 56.25rem; }
  body .btn__color {
    background-color: #d18007;
    color: white; }
  body .img__transform:hover {
    transform: scale(1.2);
    transition: all 2s; }
  body .bio__contain p {
    font-size: 20px; }
  body .servicios__titulo {
    display: flex;
    justify-content: center;
    margin: 30px; }
  body .card {
    background-color: #1f1b19;
    margin: 40px;
    box-shadow: 2px 4px 15px 0 #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    body .card__reverse {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center; }
    body .card__servicios {
      width: 400px;
      height: auto;
      margin: 20px; }
    body .card__servicios img {
      width: 400px;
      height: auto;
      object-fit: cover;
      box-shadow: 2px 4px 15px 0 #000; }
    body .card__texto {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      body .card__texto h2 {
        margin-bottom: 25px; }

@media (min-width: 769px) and (max-width: 1200px) {
  .bio__contain {
    margin-top: 35px; } }

@media (min-width: 541px) and (max-width: 768px) {
  .bio__contain {
    margin-top: 40px; } }

@media (min-width: 320px) and (max-width: 540px) {
  .bio__contain {
    margin: 40px; } }
