footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  padding: 1.25rem; }
  footer ul {
    display: flex; }
  footer li {
    list-style-type: none;
    margin: 0 0.625rem; }
  footer a {
    text-decoration: none; }
  footer img {
    width: 4.125rem;
    border-radius: 3.125rem; }
  footer h2 {
    font-size: 1.25rem; }

* {
  margin: 0;
  padding: 0; }

body {
  background: linear-gradient(to right, #000000, #434343);
  background-image: url(../recursos/textura-baja.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  text-align: start; }
  body .navbar-brand img {
    padding-left: 6.25rem; }
  body .titulo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 0;
    padding-top: 5px; }
    body .titulo .titulo__borde {
      border-bottom: 1px outset;
      width: 400px;
      text-align: center;
      user-select: none;
      margin-bottom: 30px; }
  body .encabezado {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px; }
  body .carousel-item img {
    height: 56.25rem;
    object-fit: cover; }
  body .btn__color {
    background-color: #f17500;
    color: #fff;
    border-bottom: none; }
  body .btn__color:active {
    background: linear-gradient(to bottom, transparent, #f17500);
    color: #fff; }
  body .form__input {
    background: #222;
    color: #fff;
    border-bottom: 2px solid #f17500; }
  body .form__input:focus {
    background: linear-gradient(to top, transparent, #333);
    color: #fff; }
  body form textarea {
    resize: none; }
  body .img__transform:hover {
    transform: scale(1.02);
    transition: all 1.2s;
    opacity: 0.8; }
  body .card {
    background: linear-gradient(to bottom, transparent, #111);
    border-left: 2px solid #f17500;
    margin: 2.5rem;
    box-shadow: 0.125rem 0.25rem 0.938rem 0 #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    body .card__reverse {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      border: none;
      border-right: 2px solid #f17500; }
    body .card__servicios {
      width: 400px;
      height: auto;
      margin: 1.25rem; }
    body .card__servicios img {
      width: 400px;
      height: auto;
      object-fit: cover;
      box-shadow: 0.125rem 0.25rem 0.938rem 0 #000; }
    body .card__texto {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      body .card__texto h2 {
        margin-bottom: 1.563rem; }

form div {
  text-align: left; }

.form-buttom {
  margin-top: 1.25rem;
  text-align: right; }

.buttom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }

.buttom__up {
  background-color: #f17500;
  border-radius: 25px;
  margin: 20px 0; }

.buttom__up:hover {
  background-color: #ff8800; }

.icono img {
  width: 1.875rem;
  height: auto; }

.bio__imagen {
  object-fit: cover;
  box-shadow: 0.125rem 0.25rem 0.938rem 0 #000; }

@media (min-width: 769px) and (max-width: 1200px) {
  .bio__Texto {
    margin-top: 2.188rem; } }

@media (min-width: 541px) and (max-width: 768px) {
  .bio__Texto {
    margin-top: 2.5rem; } }

@media (min-width: 320px) and (max-width: 540px) {
  .bio__Texto {
    margin: 2.5rem; } }
