footer {
    @include flex (column);
    grid-area: footer;
    padding: 1.25rem;

    ul {
        display: flex;
    }
    li {
        list-style-type: none;
        margin: 0 0.625rem;
    }
    a {
        text-decoration: none;
    }

    img {
        width: 4.125rem;
        border-radius: 3.125rem;
    }

    h2 {
        font-size: 1.25rem;
    }
    
}
