@mixin flex ($direction:row) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
@mixin medidas ($width:400px,$height:auto) {
    width: 25rem;
    height: auto;
}