@mixin flex ($direction:row) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin border {
    width: 400px;
    text-align: center;
    user-select: none;
    margin-bottom: 30px;
}