$color-principal:rgb(255, 255, 255);
$color-secundario:#1f1b19;
$color-letra-navegacion:rgb(255, 255, 255);
$color-letra:rgb(255, 255, 255);
$color-boton:rgb(209, 128, 7);
$font-principal:'Poppins', sans-serif;