$background-principal:linear-gradient(to right, #000000, #434343);
$color-principal:#fff;
$color-secundario:#1f1b19;
$color-terciario:rgb(241, 117, 0);
$color-letra-navegacion:#fff;
$color-letra:#fff;
$color-boton:rgb(241, 117, 0);
$font-principal:'Poppins', sans-serif;
$Sombras: 0.125rem 0.25rem 0.938rem 0 #000;