@import'variables';
@import'helpers';
@import'footer';

* {
    margin: 0;
    padding: 0;
}

body {
    background: $background-principal;
    background-image: url(../recursos/textura-baja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-principal;
    font-family: $font-principal;
    font-size: 1.25rem;
    text-align: center;

    .navbar-brand img {
        padding-left: 6.25rem;
    }
    .titulo {
        @include flex;
        margin: 1.25rem 0;  
        padding-top: 0.313rem; 
    
    &__borde {
        border-bottom: 1px outset;
        @include border
    }
    }

    .encabezado {
        @include flex;
        padding: 0.625rem;
    }

    .carousel-item img {
        width: 100%;
        height: 100vh;
        max-width: 120rem;
        max-height: 60.6rem;
        min-height: 53rem;
        object-fit: cover;
    }

    .carousel__titulo {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: 'Chronicle Display';
    }

    .btn__color {
        background-color: $color-boton;
        color: $color-principal;
        border-bottom: none;
    }
    .btn__color:active {
        background: linear-gradient(to bottom, transparent,$color-boton);
        color: $color-principal;
    }

    .form__input{
        background: #222;
        color: $color-principal;
        border-bottom: 2px solid $color-boton;
    }
    .form__input:focus {
        background: linear-gradient(to top, transparent,#333);
        color: $color-principal;
    }
    form textarea {
        resize: none;
    }
    
    .img__transform:hover {
        transform: scale(1.02);
        transition: all 1.2s;  
        opacity: 0.8;
    }
    .card {
            @include flex;
            background: linear-gradient(to bottom, transparent,#111);
            border-left: 2px solid $color-boton;
            border-radius: 0.938rem;
            margin: 2.5rem; 
            box-shadow: $Sombras; 
            
        &__reverse {
            @include flex (row-reverse);
            border: none;
            border-right: 2px solid $color-boton;
        }

        &__servicios {
            @include flex;
            margin: 1.25rem;
        }
    
        &__servicios img {
            width: 100%;
            min-width: 10rem;
            max-width: 30rem;
            object-fit: contain;
            border-radius: 0.938rem;
            box-shadow: $Sombras; 
        }
    
        &__texto {
            @include flex (column);
            width: 50%;
            min-width: 20rem;
            padding: 1.25rem;
        }
    }
    
    .form-buttom {
        margin-top: 1.25rem;
        text-align:right;
    }
    
    .buttom {
        @include flex;
        margin: top 1.25rem;
    
    
    &__up {
        background-color: $color-boton;
        border-radius: 1.563rem;
        margin: 1.25rem 0;
    }
    &__up:hover {
        background-color: rgb(241, 96, 0);
    }
    }

    .icono{
        margin: 0.625rem;
    
    & img{
        width: 1.875rem;
        height: auto;
        padding: 0.25rem;
    }
    }
    .bio__imagen {
        object-fit: cover;
        box-shadow: $Sombras;
    }
}


@media (min-width:769px) and (max-width:1200px) {
    .bio__Texto {
        margin-top: 2.188rem;
    }
}

@media (min-width:541px) and (max-width:768px) {
    .bio__Texto {
        margin-top: 2rem;
    }
}

@media (min-width:320px) and (max-width:540px) {

    .icono span {
        font-size: 0.813rem;
    }
}
