@import'variables';
@import'helpers';
@import'footer';

* {
    margin: 0;
    padding: 0;
}

body {
    background: $background-principal;
    background-image: url(../recursos/textura-baja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-principal;
    font-family: $font-principal;
    font-size: 1.25rem;
    text-align: center;

    .navbar-brand img {
        padding-left: 6.25rem;
    }
    .titulo__general {
        display: flex;
        justify-content: center;
        margin: 1.25rem 0;  
    }
    
    .carousel-item img {
        height: 56.25rem;
        object-fit: cover;
    }

    .carousel__contain {
        display: flex;
        flex-wrap: wrap;
    }
    .btn__color {
        background-color: $color-boton;
        color: $color-letra;
    }
    
    .img__transform:hover {
        transform: scale(1.02);
        transition: all 1.2s;  
        opacity: 0.8;
    }


    .card {
            background: $background-principal;
            margin: 2.5rem;   
            box-shadow: $Sombras; 
            @include flex

        &__reverse {
            @include flex (row-reverse);
        }

        &__servicios {
            @include medidas;
            margin: 1.25rem;
        }
    
        &__servicios img {
            @include medidas;
            object-fit: cover;
            box-shadow: $Sombras; 
        }
    
        &__texto {
            @include flex (column);
            width: 50%;
            h2 {
            margin-bottom: 1.563rem;
            }
        }
    }
}

form div {
    text-align:left;
}

.form-buttom {
    margin-top: 1.25rem;
    text-align:right;
}

.icono img{
    width: 1.875rem;
    height: auto;
    
}


.bio__imagen {
    object-fit: cover;
    box-shadow: $Sombras;
}


@media (min-width:769px) and (max-width:1200px) {
    .bio__Texto {
        margin-top: 2.188rem;
    }
}

@media (min-width:541px) and (max-width:768px) {
    .bio__Texto {
        margin-top: 2.5rem;
    }
}

@media (min-width:320px) and (max-width:540px) {

    .bio__Texto {
        margin: 2.5rem;
    }
}