@import'variables';
@import'helpers';
@import'footer';

* {
    margin: 0;
    padding: 0;
}

body {
    background: $background-principal;
    background-image: url(../recursos/textura-baja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-principal;
    font-family: $font-principal;
    font-size: 1.25rem;
    text-align: start;

    .navbar-brand img {
        padding-left: 6.25rem;
    }
    .titulo {
        @include flex
        margin: 1.25rem 0;  
        padding-top: 5px; 
    
    .titulo__borde {
        border-bottom: 1px outset;
        @include border
    }
    }

    .encabezado {
        @include flex
        padding: 10px;
    }

    .carousel-item img {
        height: 56.25rem;
        object-fit: cover;
    }

    .btn__color {
        background-color: $color-boton;
        color: $color-letra;
        border-bottom: none;
    }
    .btn__color:active {
        background: linear-gradient(to bottom, transparent,$color-boton);
        color: $color-letra;
    }

    .form__input{
        background: #222;
        color: #fff;
        border-bottom: 2px solid $color-boton;
    }
    .form__input:focus {
        background: linear-gradient(to top, transparent,#333);
        color: #fff;
    }
    form textarea {
        resize: none;
    }
    
    .img__transform:hover {
        transform: scale(1.02);
        transition: all 1.2s;  
        opacity: 0.8;
    }
    .card {
            background: linear-gradient(to bottom, transparent,#111);
            border-left: 2px solid $color-boton;
            margin: 2.5rem;   
            box-shadow: $Sombras; 
            @include flex

        &__reverse {
            @include flex (row-reverse);
            border: none;
            border-right: 2px solid $color-boton;
        }

        &__servicios {
            @include medidas;
            margin: 1.25rem;
        }
    
        &__servicios img {
            @include medidas;
            object-fit: cover;
            box-shadow: $Sombras; 
        }
    
        &__texto {
            @include flex (column);
            width: 50%;
            h2 {
            margin-bottom: 1.563rem;
            }
        }
    }
}

form div {
    text-align:left;
}

.form-buttom {
    margin-top: 1.25rem;
    text-align:right;
}

.buttom {
    @include flex
    margin-top:20px ;
}

.buttom__up {
    background-color: $color-boton;
    border-radius: 25px;
    margin: 20px 0;
}
.buttom__up:hover {
    background-color: rgb(255, 136, 0);
}
.icono img{
    width: 1.875rem;
    height: auto;
    
}

.bio__imagen {
    object-fit: cover;
    box-shadow: $Sombras;
}



@media (min-width:769px) and (max-width:1200px) {
    .bio__Texto {
        margin-top: 2.188rem;
    }
}

@media (min-width:541px) and (max-width:768px) {
    .bio__Texto {
        margin-top: 2.5rem;
    }
}

@media (min-width:320px) and (max-width:540px) {

    .bio__Texto {
        margin: 2.5rem;
    }
}